h1 {
    background: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron {
    width: 700px;
    height: 500px;
    margin-left: 400px;
}

.card{
    background:blue;
    color: white;
}